<mat-nav-list >
    <a mat-list-item routerLink="/" (click)="onClose()">
      <span class="nav-caption">Pagina principală</span>
    </a>
    <a mat-list-item routerLink="/expenses" (click)="onClose()">
      <span class="nav-caption">Cheltuieli</span>
    </a>
    <a mat-list-item routerLink="/incomes" (click)="onClose()">
      <span class="nav-caption">Venituri</span>
    </a>
    <a mat-list-item routerLink="/invoices" (click)="onClose()">
      <span class="nav-caption">Facturi și plăți fixe</span>
    </a>
    <a mat-list-item routerLink="/" (click)="onLogout()">
      <span class="nav-caption">Ieșire din cont</span>
    </a>

  </mat-nav-list>