<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="jumbotron" style="text-align: center;">
              <img src="assets/icon.png" style="width: 100px; margin-bottom: 15px;"/>
              <h2>Budgety - ajutorul buzunarului tău</h2>
               <p>Te ajutăm să ai o viziune mai bună asupra finanțelor tale.</p>
                <div class="card-body">
                  <p class="text-muted"></p>
                  <div class="row">
                    <div class="col-12 text-center">
                      <button class="btn btn-success px-4" (click)="onSubmit()">Hai în aventura Budgety!</button>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  