<div class="jumbotron">
    <h1>Bine ai venit pe Budgety!</h1>
    <p> Ajutorul tău pentru analiza și monitorizarea cheltuielilor</p>
      <p>Poți adăuga cheltuieli, costuri fixe și venituri pentru o perspectiva cât mai detaliată asupra banilor tăi! </p>
  </div>
  <div class="row" *ngIf="isHighchartAvailable">
      <div class="col-md-6">
        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
          style="width: 100%; height: 400px; display: block;" *ngIf="isChartReady">
        </highcharts-chart>
      </div>
      <div class="col-md-6">
        <highcharts-chart [Highcharts]="highchartsPeople" [options]="chartOptionsPeople"
          style="width: 100%; height: 400px; display: block;" *ngIf="isChartReady">
        </highcharts-chart>
      </div>
    </div>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
