<h1 mat-dialog-title>Editare venituri</h1>
<div class="form-fields">
  <form [formGroup]="incomeForm" (ngSubmit)="saveIncomeUpdates()">
    <label  class="required" for="name">
      <span>Denumire</span>
    </label>
    <input matInput formControlName="name" placeholder="Name">
    <label class="required" for="value">
      <span>Valoare (RON)</span>
    </label>
    <input matInput formControlName="value" placeholder="Valoare">  
    <div class="error">
      <mat-error *ngIf="hasError()">{{getError()}}</mat-error>
    </div>
    <mat-dialog-actions>
      <button type=submit [disabled]="submittedForm">Salvează</button>
      <button >Anulează</button>
    </mat-dialog-actions>
  </form>
</div>