
input.ng-invalid.ng-touched:not(:focus) {
    outline: none;
    border: 1px solid #E60000;
    border-radius: 0;
  }
  
  
  
  .error {
    text-align: left;
    font-size: 10px;
    height: 15px;
  }