<h1 mat-dialog-title>Cheltuială nouă</h1>
<div class="form-fields">
  <form [formGroup]="expenseForm" (ngSubmit)="saveExpense()">
    <label for="name" class="enter-name">
      <span> Denumire</span>
    </label>
    <input type="text" formControlName="name" placeholder="ex: Mancare">
    <label for="price" class="enter-price">
      <span> Suma cheltuită</span>
    </label>
    <input type="number" formControlName="price" placeholder="ex: 50">
    <label for="date" class="enter-date">
      <span> Data </span>
    </label>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" formControlName="date"
       placeholder="Alege o dată">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox (click)="showExpenseDetails()">
      Adaug detalii suplimentare
    </mat-checkbox>
    <mat-form-field *ngIf="isVisible">
      <mat-label>Categorie</mat-label>
      <mat-select  formControlName="category"  placeholder="Selectează categoria">
        <mat-option  *ngFor="let category of categories" [value]="category.name">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="error">
      <mat-error *ngIf="hasError()">{{getError()}}</mat-error>
    </div>
    <mat-dialog-actions>
      <button type=submit [disabled]="submittedForm">Salvează</button>
      <button (click)="close()">Anulează</button>
    </mat-dialog-actions>
  </form>
</div>
