<h1 mat-dialog-title>Cheltuială nouă</h1>
<div class="form-fields">
  <form [formGroup]="expenseForm" (ngSubmit)="saveExpense()">
    <mat-form-field style="width: 100%">
    <input matInput type="text" formControlName="name" placeholder="Denumire"  pattern="[a-zA-Z]+" ng-pattern-restrict>
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <input matInput type="number" formControlName="price" placeholder="Valoare" [min]="1" [max]="999999">
    </mat-form-field>
    <mat-form-field style="width:50%; margin-right: 2%;">
      <input matInput [matDatepicker]="picker" formControlName="date"
       placeholder="Alege o dată" [min]="startDate" [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-checkbox (click)="showExpenseDetails()">
      Adaug detalii suplimentare
    </mat-checkbox>
    <mat-form-field *ngIf="isVisible" style="width: 50%; margin-right: 2%;">
      <mat-label>Categorie</mat-label>
      <mat-select  formControlName="category"  placeholder="Selectează categoria">
        <mat-option  *ngFor="let category of categoriesList" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isVisible" style="width: 48%;">
      <mat-label>Persoane</mat-label>
      <mat-select  formControlName="people" multiple>
        <mat-option  *ngFor="let people of peopleList" [value]="people" multi>
          {{people}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="error">
      <mat-error *ngIf="hasError()">{{getError()}}</mat-error>
    </div>
    <mat-dialog-actions style="float: right;">
      <button mat-button type=submit [disabled]="submittedForm">Salvează</button>
      <button mat-button (click)="close()">Anulează</button>
    </mat-dialog-actions>
  </form>
</div>
